<mat-nav-list>
    <a mat-list-item (click)="onSidenavClose('sales')">
        <mat-icon>receipt</mat-icon> <span class="nav-caption">Invoice</span>
    </a>
    <a mat-list-item (click)="onSidenavClose('quotations')">
        <mat-icon>receipt</mat-icon> <span class="nav-caption">Quotation</span>
    </a>
    <a mat-list-item (click)="onSidenavClose('bank')">
        <mat-icon>view_in_ar</mat-icon> <span class="nav-caption">Bank</span>
    </a>
    <a mat-list-item (click)="onSidenavClose('company')">
        <mat-icon>view_in_ar</mat-icon> <span class="nav-caption">Company</span>
    </a>
    <a mat-list-item (click)="onSidenavClose('custvend')">
        <mat-icon>view_in_ar</mat-icon> <span class="nav-caption">Party</span>
    </a>
    <a mat-list-item (click)="onSidenavClose('product')">
        <mat-icon>view_in_ar</mat-icon> <span class="nav-caption">Inventory</span>
    </a>
</mat-nav-list>