.side-input-button {
    margin: 9px;
    margin-left: -26px;
}

.option-description {
    font-size: 11px;
    color: blueviolet;
}


.matoption-border {
    line-height: 15px;
    border-bottom: solid 1px gray;
}

.table_data_section td {
  padding-left: 15px;
}


.th-50{
    width:50px;
}